<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $.Scratch.Set "Title" (default .Title (index .Site.Params.text (print "title_" (lower .Title)))) }}
    <title>
      {{ if eq ($.Scratch.Get "Title") .Site.Title }}
        {{ .Site.Title }}
      {{ else }}
        {{ ($.Scratch.Get "Title") }} | {{ .Site.Title }}
      {{ end }}
    </title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
    <!-- Your custom overrides should be last -->
    <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <body{{ if .IsPage }} class="page"{{ end }}>
<nav class="header">
  <div class="banner">
    <a href="{{ "/" | relURL }}" class="logo-link">
      {{ partial "logo.svg" . }}
    </a>
  </div>
</nav>
<div class="taxonomy-bar">
  {{ with .Site.Taxonomies.categories }}
    <ul>
      {{ range $key, $value := . }}
        <li>
          <a href="{{ "/categories/" | relURL }}{{ $key | urlize }}">{{ $key }}</a>
        </li>
      {{ end }}
    
        <li><a href="{{ "/quienes_somos/" | relURL }}">Quienes somos</a></li>  <!-- arbitrary page -->
    

  {{ end }}
</div>


    </nav>
  </body>
</html>
