{{ $secondaryPosts := first 3 (after 4 (where (where .Site.RegularPages.ByDate.Reverse "Section" "post") "Params.highlight" "ne" true)) }}

<section class="secondary-grid">
  {{ range $index, $post := $secondaryPosts }}
    <article class="article">

      {{/* Only show thumbnail for the FIRST 3 posts */}}
      {{ if lt $index 3 }}
        {{ with index $post.Params.thumbnail 0 }}
          <figure class="featured-thumbnail">
            <img src="{{ relURL .src }}" alt="Featured Image"/>
          </figure>
        {{ end }}
      {{ end }}

      <div class="article-cont">
        
        {{/* Categories */}}
        <div class="categories">
          {{ with $post.Params.categories }}
            {{ range first 1 . }}
              <a href="{{ relURL (print "/categories/" . | urlize) }}">{{ . }}</a>
            {{ end }}
          {{ else }}
            <a>{{ default "Uncategorized" .Site.Params.text.uncategorized }}</a>
          {{ end }}
        </div>

        {{/* Title */}}
        <h1><a href="{{ $post.RelPermalink }}">{{ $post.Title }}</a></h1>

        {{/* Author */}}
        <div class="author">
          {{ if $post.Params.author }}
            <span class="author">{{ partial "author_names.html" $post }}</span>
          {{ end }}
        </div>

        {{/* Summary / Description */}}
        <div class="summary">
          {{ with $post.Description }}
            {{ . | markdownify }}
          {{ else }}
            {{ $post.Summary }}
          {{ end }}
        </div>

        {{/* Date */}}
        <div class="date">
          {{ $months := dict "1" "enero" "2" "febrero" "3" "marzo" "4" "abril" "5" "mayo" "6" "junio" "7" "julio" "8" "agosto" "9" "septiembre" "10" "octubre" "11" "noviembre" "12" "diciembre" }}
          {{ $day := $post.Date.Day }}
          {{ $month := index $months (printf "%d" $post.Date.Month) }}
          {{ $year := $post.Date.Year }}
          {{ printf "%d de %s de %d" $day $month $year }}
        </div>

      </div>
    </article>
  {{ end }}
</section>
