{{/* Collect author names and handles separately */}}
{{/* Normalize permalink to ensure absolute https:// */}}
{{ $url := .Permalink }}

{{ if not (hasPrefix $url "http") }}
  {{ $url = printf "https:%s" $url }}
{{ end }}
{{ $authorNames := slice }}
{{ $twitterHandles := slice }}
{{ $blueskyHandles := slice }}

{{ with .Params.author }}
  {{ $authors := . }}

  {{ if not (reflect.IsSlice $authors) }}
    {{ $authors = slice $authors }}
  {{ end }}

  {{ range $authors }}
    {{ $slug := . }}
    {{ $page := site.GetPage (printf "autores/%s.md" $slug) }}

    {{ if $page }}
      {{/* NAME */}}
      {{ $name := $page.Params.name | default $slug }}
      {{ $authorNames = $authorNames | append $name }}

      {{/* TWITTER HANDLE */}}
      {{ with $page.Params.twitter_handle }}
        {{ $clean := replaceRE "@" "" . }}
        {{ $twitterHandles = $twitterHandles | append (printf "@%s" $clean) }}
      {{ end }}

      {{/* BLUESKY HANDLE */}}
      {{ with $page.Params.bluesky_handle }}
        {{ $clean := replaceRE "@" "" . }}
        {{ $blueskyHandles = $blueskyHandles | append (printf "@%s" $clean) }}
      {{ end }}

    {{ else }}
      {{ $authorNames = $authorNames | append $slug }}
    {{ end }}
  {{ end }}
{{ end }}

{{/* Build display strings */}}
{{ $nameString := delimit $authorNames ", " }}
{{ $twitterString := "" }}
{{ $blueskyString := "" }}

{{ if gt (len $twitterHandles) 0 }}
  {{ $twitterString = printf " (%s)" (delimit $twitterHandles ", ") }}
{{ end }}

{{ if gt (len $blueskyHandles) 0 }}
  {{ $blueskyString = printf " (%s)" (delimit $blueskyHandles ", ") }}
{{ end }}

{{/* TWITTER share text */}}
{{ $tweet := printf "%s\npor %s%s\nen @LaCriticaDD\n\n%s" 
    .Title 
    $nameString 
    $twitterString 
    .Permalink 
}}

{{/* BLUESKY share text (similar structure) */}}
{{ $bluesky := printf "%s\npor %s%s\n\n%s" 
    .Title 
    $nameString 
    $blueskyString 
    .Permalink 
}}


<section class="share-section">
  <h3 class="share-title">Compartir</h3>
  <div class="share-buttons">

<a class="share-button"
   href="https://twitter.com/intent/tweet?text={{ $tweet | urlquery }}"
   target="_blank"
   rel="noopener noreferrer">
  <img src="{{ "img/twitter.svg" | relURL }}" alt="Compartir en Twitter">
</a>


<a class="share-button"
   href="https://bsky.app/intent/compose?text={{ $bluesky | urlquery }}"
   target="_blank"
   rel="noopener noreferrer">
  <img src="{{ "img/bluesky.svg" | relURL }}" alt="Compartir en Bluesky">
</a>

<a class="share-button"
   href="https://www.facebook.com/sharer/sharer.php?u={{ $url | urlquery }}"
   target="_blank" rel="noopener noreferrer">
  <img src="{{ "img/facebook.svg" | relURL }}" alt="Compartir en Facebook">
</a>

<a class="share-button"
   href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink | urlquery }}"
   target="_blank" rel="noopener noreferrer">
  <img src="{{ "img/linkedin.svg" | relURL }}" alt="Compartir en LinkedIn">
</a>

<a class="share-button"
   href="https://api.whatsapp.com/send?text={{ $tweet | urlquery }}"
   target="_blank" rel="noopener noreferrer">
  <img src="{{ "img/whatsapp.svg" | relURL }}" alt="Compartir en WhatsApp">
</a>

  </div>
</section>
