{{ define "main" }}

<h1>Búsqueda</h1>

<div class="search-layout">

  <!-- Pagefind results and search box -->
  <div class="search-main">
    <div id="search"></div>
  </div>

</div>

<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>

<script>
  const pagefind = new PagefindUI({
    element: "#search",
    showSubResults: true,
    autofocus: true,

    filterUI: {
      container: "#search-filters"
    },

    translations: {
      filter_author_label: "Autores",
      filter_categories_label: "Categorías"  // optional

    }
  });

  // Make filters always visible
  pagefind.setTerm("");
</script>


{{ end }}
