{{ partial "header.html" . }}

{{/* produce a safe class name from the term */}}
{{ $termClass := .Title | urlize }}

<section class="taxonomy-layout" data-term="{{ .Title | urlize }}">

<!-- Left column: all taxonomy links -->
<aside class="taxonomy-menu {{ $termClass }}">
  <ul>
    {{ $exclude := slice "catastrophe" "internal" "hidden" }}
    {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
      {{ if not (in $exclude $name) }}
        <li>
          <a 
            href="{{ (path.Join "categories" ($name | urlize)) | relURL }}"
            class="{{ if eq $.Title $name }}active{{ end }}"
          >
            {{ $name }}
          </a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</aside>

  <!-- Right column: posts from this taxonomy -->
  <main class="taxonomy-content">
    {{ partial "taxonomy_grid.html" . }}
  </main>

</section>

{{ partial "footer.html" . }}
