backend:
  name: git-gateway
  branch: main

media_folder: "site/static/img" # Folder where user uploaded files should go
public_folder: "img"

collections:
  - name: "post"
    label: "Posts"
    folder: "site/content/post"
    create: true
    format: "frontmatter"
    extension: "md"
    slug: "{{slug}}"
    path: "{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - label: "Description"
        name: "description"
        widget: "string"
        hint: "Short summary (max 124 characters)"
        pattern:
          - "^.{0,124}$"
          - "Description must be 124 characters or fewer"
      - label: "Category"
        name: "categories"
        widget: "select"
        options:
          - { label: "Debates", value: "debates" }
          - { label: "Simposios", value: "simposios" }
          - { label: "Reseñas", value: "reseñas" }
          - { label: "Ensayos", value: "ensayos" }
      - label: "Author"
        name: "author"
        widget: "select"
        multiple: true
        options:
          - "Ramiro Alvarez Ugarte"
          - "Sebastián Guidi"
          - "Lucía Fernández"
          - "Matías Di Pietro"
      - {label: "Body", name: "body", widget: "markdown"}
