backend:
  name: git-gateway
  branch: main

media_folder: "/site/static/img" # Folder where user uploaded files should go
public_folder: "/img"

collections:
  - name: "post"
    label: "Posts"
    folder: "/site/content/post"
    create: true
    format: "frontmatter"
    extension: "md"
    slug: "{{slug}}"
    path: "{{slug}}"

    # Override image upload paths for this collection
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - label: "Description"
        name: "description"
        widget: "string"
        hint: "Super breve resúmen (max 124 caracterés)"
        pattern:
          - "^.{0,148}$"
          - "De 148 caractéres o menos"
      - label: "Category"
        name: "categories"
        widget: "select"
        options: ["debates", "simposios", "reseñas", "ensayos"]
        multiple: true
        max: 1
        default: ["ensayos"]
      - label: "Author"
        name: "author"
        widget: "relation"
        collection: "autores"
        search_fields: ["title"]
        value_field: "title"
        display_fields: ["title"]
        multiple: true
        hint: "Elije a les autores que correspondan"
      - label: "Thumbnail"
        name: "thumbnail"
        widget: "image"
        required: false
      - label: "Highlight"
        name: "highlight"
        widget: "boolean"
        default: false
        hint: "Markar si va a la nota destacada de la home"
      - { label: "Body", name: "body", widget: "markdown" }

  - name: "autores"
    label: "Autores"
    label_singular: "Autor"
    folder: "/site/content/autores"
    create: true
    slug: "{{slug}}" # filename pattern
    extension: "md"
    format: "frontmatter"
    preview_path: "autores/{{slug}}"
    identifier_field: "title"

    fields:
      - { label: "Title", name: "title", widget: "string", hint: "Nombre completo del autor" }
      - label: "Slug"
        name: "slug"
        widget: "string"
        hint: "Nombre del autor entre guiones y minúscula, así: nombre-apellido1-apellido2"
        pattern: ['^[a-z0-9-]+$', "Only lowercase letters, numbers and hyphens allowed"]
      - { label: "Type", name: "type", widget: "hidden", default: "authors" }
      - label: "Foto"
        name: "foto"
        widget: "image"
        choose_url: true
        hint: "Subir la foto del perfil del autor (se guarda en static/img)"
      - label: "Short bio"
        name: "bio"
        widget: "text"
        hint: "(aparece en las notas, super breve)"
      - label: "twitter_handle"
        name: "twitter handle"
        widget: "string"
        hint: "Twitter, si tiene (sin arroba)"
      - label: "Bio más larga"
        name: "body"
        widget: "markdown"
        hint: "Más larga, puede incluir links"

- name: "reseñas"
    label: "Reseñas"
    label_singular: "reseña"
    folder: "/site/content/reseñas"
    create: true
    slug: "{{slug}}" # filename pattern
    extension: "md"
    format: "frontmatter"
    preview_path: "reseñas/{{slug}}"
    identifier_field: "title"

    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - label: "Description"
        name: "description"
        widget: "string"
        hint: "Super breve resúmen (max 124 caracterés)"
        pattern:
          - "^.{0,148}$"
          - "De 148 caractéres o menos"
      - label: "Category )"
        name: "categories"
        widget: "select"
        options: ["debates", "simposios", "reseñas", "ensayos"]
        multiple: true
        max: 1
        default: ["reseñas"]
      - label: "Author"
        name: "author"
        widget: "relation"
        collection: "autores"
        search_fields: ["title"]
        value_field: "title"
        display_fields: ["title"]
        multiple: true
        hint: "Elije a les autores que correspondan"
      - label: "Thumbnail"
        name: "thumbnail"
        widget: "image"
        required: false
        hint: "La foto de la tapa del libro"
      - label: "Obra reseñada"  
        name: "obra_reseñada"
        widget: "string"
        hint: "Cita completa a la obra reseñada, idealmente APA"
      - { label: "Body", name: "body", widget: "markdown" }